/* http://fonts.google.com/specimen/Young+Serif */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

/* https://fonts.google.com/specimen/Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  ----grid-block-border-radius: 7px;
}

/* ------------------------------- Grid Layout ------------------------------ */
.route-container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 4px solid greenyellow!important; */
}

.grid-layout {
  /* border: 1px solid purple; */
  height: 97%;
  width: 97%;
  padding: 8px;
  max-width: 1536px;
  max-height: 723px;

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  gap: 1.5px;
  padding: px;
  overflow: hidden;
}

.grid-layout>div {
  text-align: center;
  margin: 3px;
  font-size: 26px;
  border-radius: var(----grid-block-border-radius);

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@media screen and (max-width: 834px) {
  .grid-layout {
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 25% 25% 25% 25%;
  }
}

/* ------------------------------ Grid Styling ------------------------------ */
.block-blue {
  background-color: #345D98;
}

.block-red {
  background-color: #DE6447;
}

.block-orange {
  background-color: #E07B4A;
}

.block-yellow {
  background-color: #F3C571;
}

.block-green {
  background-color: #3A7359;
}

.block-black {
  background-color: #3A7359;
  background-color: #1F1F1F;
  color: var(--baby-powder);
}

.block-flicker {
  -webkit-animation: flickerAnimation 9s infinite;
  -moz-animation: flickerAnimation 9s infinite;
  -o-animation: flickerAnimation 9s infinite;
  animation: flickerAnimation 9s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ------------------------------- Tilt Blocks ------------------------------ */
.block-tilt {
  text-decoration: none;
  color: var(--baby-powder);
}

.block-tilt .tilt-content-container {
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

/* ------------------------- Animated Greeting Block ------------------------ */
#block-animated-greeting {
  grid-column-start: span 2;
  grid-row-start: span 2;
  min-width: fit;
  background-color: #1F1F1F;
  color: var(--baby-powder);
  font-family: "Young Serif", serif;
  font-size: 1.8rem;
  user-select: none;
}

.animated-greeting {
  text-align: left;
  vertical-align: center;
  line-height: 1.1;
  color: #FBFAF5 !important;
  width: fit-content;
  height: fit-content;
}

/* 428px = iPhone (portrait) */
@media screen and (max-width: 428px) {
  #block-animated-greeting {
    font-size: 1rem;
  }
}

/* ---------------------------- Contact Me Block ---------------------------- */
#block-contact-me {
  border-radius: var(----grid-block-border-radius);
  font-weight: 700;
}

/* 428px = iPhone (portrait) */
@media screen and (max-width: 428px) {
  #block-contact-me {
    font-size: 1.3rem;
  }
}

/* 1536px = 4K Desktop Screens */
@media screen and (min-width: 1536px) {
  #block-contact-me {
    font-size: 2.1rem;
  }
}

/* ----------------------------- Projects Block ----------------------------- */
#block-projects {
  /* border: 1px solid greenyellow; */
  border-radius: var(----grid-block-border-radius);
  font-weight: 700;
}

/* 428px = iPhone (portrait) */
@media screen and (max-width: 428px) {
  #block-projects {
    font-size: 1.3rem;
  }
}

/* 1536px = 4K Desktop Screens */
@media screen and (min-width: 1536px) {
  #block-projects {
    font-size: 2.1rem;
  }
}

/* ------------------------------- Date Block ------------------------------- */
#block-date {
  color: #FBFAF5;
  text-transform: uppercase;
  flex-direction: column;
}

#block-date .date-container {
  /* border: 1px solid red; */
}

#block-date .current-date {
  font-weight: 800;
  font-size: 3rem;
  padding: 0;

  margin: 0;
  /* border: 1px solid red; */
}

#block-date .current-time {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  font-weight: 400;
  width: 100%;
  text-transform: capitalize;
  /* border: 1px solid magenta; */
}

/* 428px = iPhone (portrait) */
@media screen and (max-width: 428px) {
  #block-date .current-date {
    font-size: 1.8rem;
  }
}

/* 1536px = 4K Desktop Screens */
@media screen and (min-width: 1536px) {
  #block-date .current-time {
    font-size: 1.2rem;
  }
}

/* ------------------------------ Resume Block ------------------------------ */
#block-resume {
  text-align: left;
  padding: 0 2rem;
  font-size: 1.3rem;
  border-radius: var(----grid-block-border-radius);
  font-weight: 700;
}

/* 428px = iPhone (portrait) */
@media screen and (max-width: 428px) {
  #block-resume {
    padding: 0 1rem;
    font-size: 0.9rem;
  }
}

/* 1536px = 4K Desktop Screens */
@media screen and (min-width: 1536px) {
  #block-resume {
    font-size: 1.6rem;
  }
}